force-app/main/default/flows/Backup_Documents_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CalculateSizeAndDocNumbers</name>
        <label>CalculateSizeAndDocNumbers</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <actionName>RetrieveDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screencontentdoc</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>nbDocuments</assignToReference>
            <name>nbDocuments</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>totalSize</assignToReference>
            <name>totalSize</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>setId</name>
        <label>setId</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIdsStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopContentDocumentLink.ContentDocumentId} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContentDocumentLink</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ContentDocumentIdsStringified</name>
        <dataType>String</dataType>
        <expression>&apos;[&quot;&apos; &amp; SUBSTITUTE({!ContentDocumentIdsStr}, &apos; &apos;, &apos;&quot;,&quot;&apos;) &amp; &apos;&quot;]&apos;</expression>
    </formulas>
    <interviewLabel>Backup Documents Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backup Documents Flow</label>
    <loops>
        <name>loopContentDocumentLink</name>
        <label>loopContentDocumentLink</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CalculateSizeAndDocNumbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>generatePlatformEvent</name>
        <label>generatePlatformEvent</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputAssignments>
            <field>ComputeAttributes__c</field>
            <value>
                <elementReference>ContentDocumentIdsStringified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComputeService__c</field>
            <value>
                <stringValue>&quot;archivedocuments&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextObjectName__c</field>
            <value>
                <elementReference>ContextRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextRecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>RemoteCompute__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContentDocuments</name>
        <label>getContentDocuments</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContentDocumentLink</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>ContentDocumentLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <screens>
        <name>screencontentdoc</name>
        <label>screencontentdoc</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>generatePlatformEvent</targetReference>
        </connector>
        <fields>
            <name>displayContentDocumentLinks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;You are about to export documents attached to this record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;During the process, a remote system will &lt;/span&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: rgb(255, 0, 0); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;&lt;u&gt;on your behalf&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Download all attached documents&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Compress all of them in a secured archive with a Password.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Upload the archive to our Enterprise Object Storage &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Create a new record related to this {!ContextRecordType} to store the url.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please find bellow the number of documents and current size in bytes attached to that record:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Total Doc : {!nbDocuments}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Total Size :  {!totalSize} bytes&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;By clicking NEXT, the process will start.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContentDocuments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIdsStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContextRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>nbDocuments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>totalSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
