force-app/main/default/flows/Copy_Opportunities_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>GenerateAttributes</name>
        <label>GenerateAttributes</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>ComputeAttributes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenerateAttributeStructure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>use recordId value to pass variable in context record id. use this workaround for quick action flows</description>
        <name>setContextRecordId</name>
        <label>setContextRecordId</label>
        <locationX>282</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>ContextRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Copy_Configuration</targetReference>
        </connector>
    </assignments>
    <description>Allows an end user to mass copy opportunities from one of his account.</description>
    <formulas>
        <name>GenerateAttributeStructure</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;DestinationFiscalYear&quot;:&quot;&apos; &amp;{!DestinationFiscalYearStr} &amp; &apos;&quot;, &quot;OriginFiscalYear&quot;:&quot;&apos; &amp; {!OriginFiscalYearStr} &amp; &apos;&quot;, &quot;OriginStageName&quot;:&quot;&apos; &amp; {!OriginStageName} &amp; &apos;&quot;, &quot;DestinationStageName&quot;:&quot;&apos; &amp;   {!DestinationStageName} &amp; &apos;&quot;}&apos;</expression>
    </formulas>
    <interviewLabel>Copy MID from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Opportunities from Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePlatformEvent</name>
        <label>CreatePlatformEvent</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>thanksscreen</targetReference>
        </connector>
        <inputAssignments>
            <field>ComputeAttributes__c</field>
            <value>
                <elementReference>ComputeAttributes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComputeService__c</field>
            <value>
                <elementReference>ComputeService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextObjectName__c</field>
            <value>
                <elementReference>ContextObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextRecordId__c</field>
            <value>
                <elementReference>ContextRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>RemoteCompute__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Step 2/3 - Validate Settings</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreatePlatformEvent</targetReference>
        </connector>
        <fields>
            <name>ConfirmIntro</name>
            <fieldText>&lt;p&gt;Please confirm the following selection before sending the request for process wtf&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Service Attributes&lt;/b&gt;: {!ComputeAttributes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Copy_Configuration</name>
        <label>Step 1/3 - Service Configuration</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GenerateAttributes</targetReference>
        </connector>
        <fields>
            <name>OriginFiscalYearText</name>
            <fieldText>&lt;p&gt;Optional - please enter using 4 digit the fiscal year to copy the data from. If empty, will copy from all past years.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OriginFiscalYearStt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginFiscalYearStr</elementReference>
            </defaultValue>
            <fieldText>Origin Fiscal Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DestinationFiscalYearText</name>
            <fieldText>&lt;p&gt;Optional - enter the destination fiscal year using 4 digits. If not given, will use next fiscal year.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DestinationFiscalYearString</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DestinationFiscalYearStr</elementReference>
            </defaultValue>
            <fieldText>Destination Fiscal Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OriginStageNameText</name>
            <fieldText>&lt;p&gt;Optional - please enter the stage name of the opportunities to copy&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Origin_Stage_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginStageName</elementReference>
            </defaultValue>
            <fieldText>Origin Stage Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DestinationStageNameText</name>
            <fieldText>&lt;p&gt;Optional - select the stage name to create the new opportunities with. Otherwise will use default first stage&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Destination_Stage_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DestinationStageName</elementReference>
            </defaultValue>
            <fieldText>Destination Stage Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContextRecordIdText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Record Id :&lt;/b&gt; {!ContextRecordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>thanksscreen</name>
        <label>thanksscreen</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thanks! You&apos;ll be notified about the job process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>setContextRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ComputeAttributes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;{}&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>ComputeService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>oppycopy</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContextObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>DestinationFiscalYearStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2021</stringValue>
        </value>
    </variables>
    <variables>
        <name>DestinationStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginFiscalYearStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2020</stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
