force-app/main/default/flows/Remote_Compute_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>resultRemoteServiceDefinition</name>
        <dataType>String</dataType>
        <displayField>servicelabel__c</displayField>
        <object>public_servicedefinition__x</object>
        <outputAssignments>
            <assignToReference>remoteServiceName</assignToReference>
            <field>servicename__c</field>
        </outputAssignments>
        <sortField>servicelabel__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>id__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Remote Compute Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remote Compute Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createPlatformEvent</name>
        <label>createPlatformEvent</label>
        <locationX>762</locationX>
        <locationY>376</locationY>
        <inputAssignments>
            <field>ComputeAttributes__c</field>
            <value>
                <elementReference>fillServiceConfiguraiton.AttributeContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComputeService__c</field>
            <value>
                <elementReference>remoteServiceName</elementReference>
            </value>
        </inputAssignments>
        <object>RemoteCompute__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getRemoteComputeServices</name>
        <label>getRemoteServiceDefinitions</label>
        <locationX>437</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>serviceSelection</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>public_servicedefinition__x</object>
        <sortField>servicename__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fill_Service_Configuration</name>
        <label>Fill Service Configuration</label>
        <locationX>726</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>validationstep</targetReference>
        </connector>
        <fields>
            <name>fillServiceConfiguraiton</name>
            <extensionName>c:loadServiceAttributes</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ServiceDefinitionId</name>
                <value>
                    <elementReference>picklistRemoteServiceDefinition</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>serviceSelection</name>
        <label>serviceSelection</label>
        <locationX>589</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_Service_Configuration</targetReference>
        </connector>
        <fields>
            <name>chooseText</name>
            <fieldText>&lt;p&gt;Please select the remote service to invoke&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistRemoteServiceDefinition</name>
            <choiceReferences>resultRemoteServiceDefinition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the service to call</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>validationstep</name>
        <label>validation</label>
        <locationX>616</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPlatformEvent</targetReference>
        </connector>
        <fields>
            <name>validationtext</name>
            <fieldText>&lt;p&gt;Please validate before submiting:&lt;/p&gt;&lt;p&gt;&lt;b&gt;Service Name&lt;/b&gt; : {!remoteServiceName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Attributes&lt;/b&gt;: {!fillServiceConfiguraiton.AttributeContent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>getRemoteComputeServices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>remoteServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
